{{> navbar}}
<main class="container">
   {{#each posts as |post|}}
   <div class="row">
      <a class="card col link-unstyled" style="width: 18:rem;" href="/posts/{{post.postID}}">
         <div class="card-body">
            <div class="row">
               <h4 class="card-title col">{{post.title}}</h5>
               <h6 class="card-subtitle col text-end">Posted by {{post.username}} on {{post.dateCreated}} at {{post.timeCreated}}</h6>
            </div>
            <p class="card-text">{{post.content}}</p>
         </div>
      </a>
   </div>
   {{/each}}
</main>