<main class="container">
   <div class="row">
      {{#if loggedInUser.isLoggedIn}}
      <button type="button" class="btn btn-primary mb-3" onclick="location.href = '/posts/create'">Create Post</button>
      {{else}}
      <button type="button" class="btn btn-primary mb-3" onclick="location.href = '/login'">Create Post</button>
      {{/if}}
   </div>
   {{#each posts as |post|}}
   <div class="row">
      <div class="card col mb-3">
         <div class="card-body">
            <div class="row">
               <a class="link-unstyled" href="/posts/{{post.postID}}">
                  <h3 class="card-title col">{{post.title}}</h3>
               </a>
               <h6 class="mt-0 card-subtitle col">Posted by {{post.username}} on {{post.dateCreated}}</h6>
            </div>
            <p class="mt-1 card-text">{{post.content}}</p>
         </div>
      </div>
   </div>
   {{/each}}
</main>