<main class="container">
   <div id="post-card" class="card col mb-3" data-post-id={{post.postID}}>
      <div class="card-body">
         <div class="row">
            <a class="link-unstyled">
               <h3 class="card-title col">{{post.title}}</h3>
            </a>
            <h6 class="mt-0 card-subtitle col">
               Posted by {{post.username}} on {{post.dateCreated}} at {{post.timeCreated}}
            </h6>
         </div>
         <p class="mt-1 card-text">{{post.content}}</p>
      </div>
   </div>
   <div class="card col">
      <div class="card-body">
         <textarea id="comment-text-area" class="form-control mb-2" rows="3"></textarea>
         {{#if loggedInUser.isLoggedIn}}
         <button id="comment-btn" class="btn btn-primary mb-3">Comment</button>
         {{else}}
         <button class="btn btn-primary mb-3" onclick="location.href = '/login'">Comment</button>
         {{/if}}
         {{#each comments as |comment|}}
         <div class="card mb-2">
            <div class="card-body">
               <h6 class="text-start">{{comment.user.username}} {{comment.dateCreated}} @ {{comment.timeCreated}}</h6>
               <p id="comment-p" {{#stringMatch ../loggedInUser.username comment.user.username}} data-comment-id={{comment.commentID}} {{/stringMatch}} class="card-text">{{comment.comment}}</p>
               {{#stringMatch ../loggedInUser.username comment.user.username}}
               <textarea id="edit-comment-textarea" data-comment-id={{comment.commentID}} class="form-control mb-2" rows="3"
                  style="display: none;">{{comment.comment}}</textarea>
               <div id="comment-btns" data-comment-id={{comment.commentID}} class="d-flex justify-content-end">
                  <button id="submit-edit-btn" data-comment-id={{comment.commentID}} class="btn btn-info btn-sm me-1" style="display: none;">Submit</button>
                  <button id="cancel-edit-btn" data-comment-id={{comment.commentID}} class="btn btn-danger btn-sm" style="display: none;">Cancel</button>
                  <button id="edit-btn" data-comment-id={{comment.commentID}} class="btn btn-info btn-sm me-1">Edit</button>
                  <button id="delete-btn" data-comment-id={{comment.commentID}} class="btn btn-danger btn-sm">Delete</button>
               </div>
               {{/stringMatch}}
            </div>
         </div>
         {{/each}}
      </div>
   </div>
</main>
{{#if loggedInUser.isLoggedIn}}
<script src="/assets/js/postUserActions.js"></script>
{{/if}}